@import url(b.css);
table{
    border-collapse: collapse;
}
body{
    background-color: #efefef;
    margin-top: 0;
    margin-left: unset;
}
h1{
    text-align: left;
    /*color: black;*/
    margin:0px;padding: 0px;
}
.topNavBar .logo{
    font-size: 24px;
    font-family:"Arial Black";
    padding-top: 3px;
    padding-bottom: 4px;
    text-decoration: none;
}
.topNavBar .rs{
    padding-left: 16px;
    margin-right: 4px;
    color: deeppink;
}
.topNavBar .card{
    color: aliceblue;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.topNavBar{
    padding-top: 12px;
    padding-bottom: 20px;
    padding-right: 16px;
    padding-left: 0px;
    position: fixed;
    width: 100%;
}
.topNavBar>nav{
    float: right;
}
.topNavBar>nav>ul{
    list-style: none;
    padding:0;
    margin: 0;
}
.topNavBar>nav>ul>li{
    float: left;
    margin-right: 25px;
}
.topNavBar>nav>ul>li>a{
    font-size:20px;
    text-decoration: none;
    color: white;
    padding-top: 8px;
    padding-bottom: 5px;
    font-weight: bold;
    border-bottom: transparent 3px solid;
    display: block;
}
.topNavBar>nav>ul>li>a:hover{
    border-bottom: chocolate 3px solid;
}
.banner{
    height: 515px;
    background-image: url("./img/dog.jpg");
    background-position: center center;
    background-size: cover;
}
.banner .mask{
    height: 515px;
    background-color: rgba(0,0,0,0.5);
}
.userCard{
    /*border: red 1px solid;*/
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
}
.userCard .welcome{
    background: #e6686a;
    color: white;
    display:inline-block;
    padding: 4px 16px;
    line-height: 22px;
    position: relative;
}
.userCard .welcome .triangle{
    display: block;
    border: 10px solid transparent;
    border-left-color: #e6686a;
    border-top-width: 0px;
    position: absolute;
    left: 3px;
    top: 100%;
}
.userCard .picture{
    float: left;
}
.userCard .text h1{
     margin-top: 18px;

 }
.userCard .text hr{
    margin: 20px 0px;

}
.userCard .text{
    float: left;
    margin-left: 60px;
    width: 520px;
}
.userCard .picAndText{
    padding:50px;
}
.text dl>dt, .text dl>dd{
    display:inline;
    float: left;
    padding: 5px 0px ;
    box-sizing: border-box;
    margin: 0;
    border:0;
}
.userCard dl>dt{

    font-weight: bold;
    width:30%;
    padding:5px 0px;
    /*box-sizing: border-box;*/
}
.userCard dl>dd{
    width:70%;
    color: #9da0a7;

}
.userCard>footer.media{
    background: #e6686a;
    text-align: center;
}
.userCard svg{
    width: 35px;
    height: 35px;
    padding: 10px;
    margin: 5px;
    fill: white;
    vertical-align: center;
}
.userCard svg:hover{

    border-radius: 50%;
    padding: 10px;
    background-color: #cf4d51;
}
body > main{
    margin-top: -350px;
}
body > main .downloadcv{
    font-size: 14px;
    display: inline-block;
    line-height: 16px;
    padding: 20px 50px;
    text-decoration: none;
    border: 1px solid #cdcfd1;
    background: #efefef;
    border-radius: 2px;
    color: #3d4451;
    font-weight: bold;
    margin: 28px 0;
    transition: box-shadow 0.5s;

}
body > main .downloadcv:hover{
    box-shadow: 0px 4px 13px 0px rgba(0, 0, 0, 0.2);
}
.downloadcv-wrapper{
    text-align: center;
}
.self-intro{
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: kai;
    line-height: 1.8;
    font-size: 18px;
}

section.skills,
section.portfolio{
    max-width: 990px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
section.skills>h2,
section.portfolio>h2{
    text-align: center;
    color: #3d4451;
    font-size: 34px;
    line-height: 1.2;
    font-weight: 600;
}
section.skills h3 {
    font-size: 14px;
    line-height: 1.1;
    padding-right: 40px;
}
section.skills > ol {
    background: white;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.5);
    padding: 42px 50px 10px;
    margin-top: 30px;
    list-style: none;
}
section.skills > ol > li {
    float: left;
    width: 48%;
    box-sizing: border-box;
}
section.skills > ol > li:nth-child(even) {
    float: right;
}
section.skills .progressBar {
    height: 5px;
    background: #FAE1E1;
    border-radius: 2px;
    margin: 4px 0 40px;
}
section.skills .progressBar .bar-fill{
    height: 100%;
    background: #E6686A;
    width: 70%;
    border-radius: 2px;
}
section.portfolio{
    text-align: center;
}
section.portfolio >nav{
    /*border:1px solid yellow;*/
    text-align: center;
    display: inline-block;
}
section.portfolio >nav>ol{
    /*border:1px solid red;*/
    margin: 0 auto;
    padding: 0 ;
    list-style: none;
    display: inline-block;
    vertical-align: top;
}
section.portfolio >nav>ol>li{
    float: left;
    margin-left: 40px;
    cursor: pointer; /*光标 点击*/
}
section.portfolio >nav>ol>li:nth-child(1){
    margin-left: 0;
}
section.portfolio>nav .bar{
    height: 5px;
    background: white;
    margin-top: 5px;
    margin-bottom: 50px;
    border-radius: 2px;

}
section.portfolio>nav .bar-inner{
    height: 100%;
    background: #e6686a;
    width: 30%;
    border-radius: 2px;
}
section.portfolio > nav .bar.state-1 .bar-inner{
    margin-left: 0;
    width: 50px;
}
section.portfolio > nav .bar.state-2 .bar-inner{
    margin-left: 65px;
    width: 50px;
}
section.portfolio > nav .bar.state-3 .bar-inner{
    margin-left: 140px;
    width: 96px;
}
section.portfolio .works{
    position: relative;
}
section.portfolio .works > .big,
section.portfolio .works > .small {
    position: absolute;
}